body {
    font-size: 32px;
    font-family: sans-serif;
}

article {
    border: 10px solid #000;
}

.main-header {
    text-align: center;
    background-color: #949393;
}

.free-ship {
    color: #949393;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    font-weight: bold;
    text-decoration: underline #000;
}

a:active {
    background-color: #000;
    font-style: italic;
}

ul{
    list-style: square;
}

button{
    font-size: 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}

button:hover{
    border: 4px solid #000;
}